.container-course{
    display: grid;
    grid-template-columns: auto auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 
    0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: aliceblue;
   justify-content: space-around;
   margin-top: 30px;
}
.likeicon-course{
    color: blue;
    font-size: 30px;
}
.heading-course{
    margin-top: 10px;
    color: grey;
}
.containit-course{
    color: grey;
    font-size: 13px;
    margin-right: 20px;
}
.first-course{
    background-color: white;
    width: 800px; 
  display: block;
 
}
.likes-course{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 
    0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.video-course{
    margin-top: 30px;  
    margin-left: 10%;

}
.second-course{
    background-color: white;
    width: 400px; 
  display: block;
   
}
.course-choose{
   height: 19%;
   display: flex;

    gap: 10px;
    justify-content: space-around;
    justify-items: center;
    padding-top: 1.5em;

}
.button-course{
    width: 90%;
    background-color:coral;
    color: white;
    border-radius: 5px;
    height: 50px;
    margin-left: 5%;

}
.arrow-course{

   font-size: large;
   margin-top: 5px;
}

@media (max-width:800px){
    .container-course{
        grid-template-columns: auto;
    }
}